table, th, td {
    border: 2px solid;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

.form_container {
    width: 400px; /* Adjust width as needed */
    margin: 0 auto; /*Centers the div horizontally */
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
/*    height : 300px;*/
}


form div {
    margin-bottom: 15px;
/*    float : left;*/
}

label {
    /*    display: block;*/
    font-weight: bold;
    width: 100%;

}

input, textarea {
    /*    width: 100%;*/
    padding: 5px;
    border: 1px solid;
    box-sizing: border-box;
}

.inline-group {
    display: flex;
    justify-content: space-between;
}
.submit-btn {
    /*display: block;
    width: 100px;*/
    padding: 5px;
    /*margin: auto;
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    border: 2px solid black;*/
    border-radius: 5px;
    /*cursor: pointer;*/
}

    .submit-btn:hover {
        background-color: lightgray;
    }

